
body {

    background: url("images/officetable2.jpg")no-repeat center center fixed;

}

h1 {
    color: white;
    font-family: sans-serif;
    font-size: 150px;
    font-size:  5vw;
    font-weight: bold;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

section2{
    color: aqua;
    position: absolute;
    font-weight: bolder;
    top: 0;
    text-align: left;
    width: 100%;
    font-size: 40px;
}

section1{
    position: absolute;
    top: 250px;
    left: 650px;
    width: 650px;
    font-size: 40px;
}

table, th, td{
    width: 80%;
    padding: 5px;


}

table{
    border-collapse: collapse;

}


section4 {
    color: black;
    font-family: Tahoma;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 700px;
    left: 0;


}

section5 {
    color: darkorange;
    position: absolute;
    font-size: 40px;
    top: 750px;
    left: 16px;

}










