<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MyWorkLoad</title>
  <style type="text/css">
    #todocontainer{
      margin-top: 50px;
    }
  </style>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<section id="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h1 class="navbar-brand" href="#">Workload today</h1>
  </nav>
</section>

<section2>
<nav>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a2 class="nav-link" th:href="@{/logout}">Logout</a2>
        </li>
      </ul>
    </div>
  </nav>
</section2>

<section1 id="todocontainer">

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Todo</th>
          <th scope="col">Status</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todo : ${todos}">
          <th scope="row" th:text=${todo.id}></th>
          <td th:text=${todo.todoItem}></td>
          <td th:text=${todo.completed}></td>
          <td>
            <form th:action="@{/todoUpdate/{id}(id=${todo.id})}" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <button type="submit" class="btn btn-success btn-sm text-white">Update</button>
              </div>
            </form>
          </td>
          <td>
            <form th:action="@{/todoDelete/{id}(id=${todo.id})}" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <button type="submit" class="btn btn-danger btn-sm text-white">Delete</button>
              </div>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

</section1>

      <section4>
      <div class="d-flex justify-content-center">
        <a class="btn btn-success btn-lg text-white" data-toggle="modal" data-target="#viewModal">Add New Todo</a>
      </div>

    </div>
    <div class="col-md-2"></div>
  </div>
      </section4>
  <!-- View Modal -->
  <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!--<h5 class="modal-title" id="exampleModalLabel">TODO</h5>-->

        <section5>
        <div class="modal-body">
          <form th:action="@{/todoNew}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="exampleInputEmail1">Todo</label>
              <input type="text" class="form-control" name="todoItem" aria-describedby="emailHelp" placeholder="Enter Todo">
            </div>
            <div class="form-group">
              <label for="status">Status</label>
              <select class="form-control" name="status">
                <option>Done</option>
                <option>In progress</option>
                <option>Open</option>
                <option>Urgent</option>
              </select>
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Todo</button>
          </form>
        </div>
        </section5>
      </div>
    </div>
  </div>
</section>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>